.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.input {
    width: 100%;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 15px;
}

.submit {
    padding: 15px 30px;
    background-color: transparent;
    margin: 40px auto 0;
    max-width: 300px;
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 20px;
    transition: all 0.1s linear;
}

.submit:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-5px);
    cursor: pointer;
}

.inputPair {
    margin-bottom: 30px;
}